html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.title{
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(47, 49, 175, 0.15);
    margin: 20px 0;
}

::placeholder{
    font-size: 24px;
    color: #e6e6e6;
}


//maincontainer
.block{
    margin: 0 auto;
    width: 550px;
    box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.2);
}

//tasks input
.task_field{
    box-sizing: border-box;
    padding: 16px 16px 16px 60px;
    border: none;
    background: white;
    width: 550px;
    height: 65px;
    display: flex;
    font-size: 24px;
    outline: none;
}

.submit--btn{
    display: none;
}

.create_task{
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

.todo--wrapper{
    border-top: 1px solid #ededed;
}

//created tasks
.new--task{
    box-sizing: border-box;
    border-bottom: 1px solid #ededed;
    width: 550px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;

span{
    font-size: 24px;
    margin: auto 0;
}

.toggle{
    display: none;
}

.center{
    margin-left: 10px;
}

.task__label{
    display: flex;
    flex-direction: row;
    align-items: center;

    span{
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
    }
}

.checked ~ span {
    color: #e6e6e6;
    text-decoration: line-through;
}


    .task__label>span::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #e8e9e9;
        border-radius: 100%;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }


    .close{
        border: none;
        display: none;
        width: 40px;
        height: 40px;
        font-size: 30px;
        color: #cc9a9a;
        transition: color 0.2s ease-out;
        justify-self:flex-end;
        background-color: transparent;
        background-image: url(../assets/ci_close-big.svg);
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;

        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
    }
}

.checkbox--filler{
    position: absolute;
    height: 65px;
    width: 45px;
    border: none;
    background: none;
    background-image: url(../assets/down--arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
}


//hovers
.new--task:hover{
    .close{
        display: block;
        cursor: pointer;
    }
}

.close:hover{
    display: block;
    opacity: 1;
}

.task__label>input:checked+span::before {
    border-color: #18e072;
    background-color: #18e072;
  }